<!DOCTYPE html>
 <html >
    <head>
       
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/newspage/newspage.css">
        
       
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">
       
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>


        <section class = "banner">
            <div class = "banner-main-content">
                <h2 >GET THE WORLD'S LATEST MOVIE NEWS</h2>
            
                <div class = "current-news-head" >
                    <h3>RRR OSCAR : <span> MMKeeravaani is singing his acceptance speech! Wonderful. Chandrabose simply says: “Namaste.” </span></h3>

                    <h3> Spider-Man: Into The Spider-Verse <span>Empire's World-Exclusive Spider-Man: Across The Spider-Verse Covers Revealed</span></h3>

                    <h3>Barry Keoghan Joins Gladiator 2 <span> Barry Keoghan is seeing no slowing of his career momentum.He's now in talks to join Ridley Scott's Gladiator sequel.</span></h3>

                    <h3>James Gunn Directing Superman: Legacy <span>New DC Studios bosses James Gunn and Peter Safran's initial "Gods And Monsters" in DC's most iconic hero, called Superman: Legacy.</span></h3>
                </div>
            </div>

            <div class = "banner-sub-content">
                <div class = "hot-topic">
                    <img src = "/images/movienewspageimgs/11.jpg" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Congratulations! to Critics Choice SUPER Award winners Tom Cruise & #TopGun: Maverick!</h2>

                        <h3>TOP GUN</h3>
                        <p>Take to the skies! Congrats to the #TopGun: Maverick team for winning Best Action Movie and Best Actor in an Action Movie at the Critics Choice Super Awards</p>
                        
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "/images/movienewspageimgs/12.jpg" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Hugh Jackman Is 'Becoming Wolverine Again' for Deadpool 3</h2>

                        <h3>DEADPOOL 3</h3>
                        <p>Deadpool 3 star Hugh Jackman offers another look at one of his Wolverine workouts.</p>
                        
                    </div>
                </div>



                <div class = "hot-topic">
                    <img src = "/images/movienewspageimgs/23.jpg" alt = "">

                    <div class = "hot-topic-content">
                        <h2>'The Elephant Whisperers': Maiden victory for an Indian Production</h2>

                        <h3>The Elephant Whisperers</h3>
                        <p> "The Elephant Whisperers" won the 95th Academy Awards, marking India's first-ever triumph. It defeated competitors including "Haulout,"</p>
                        
                    </div>
                </div>

                <div class = "hot-topic">
                    <img src = "/images/movienewspageimgs/14.jpg" alt = "">

                    <div class = "hot-topic-content">
                        <h2>Ram Charan at India Today Conclave 2023: RRR's Oscar was a recognition for India</h2>

                        <h3>RRR</h3>
                        <p> RRRoar: What it takes to make blockbusters. And leap across geography.  Ram Charan opened up about Naatu Naatu's live performance at Oscars 2023.</p>
                        
                    </div>
                </div>
            </div>
        </section>
        
        <hr>

        <main>
            <h2>Top Stories</h2>
            <section class = "main-container-left" >
                
                <div class = "container-top-left">
                    <article>
                        <img src = "/images/movienewspageimgs/15.jpg">

                        <div>
                            <h3>Avatar: The Way Of Water Movie :A worthy sequel that's dazzlingly immersive and hypnotic</h3>

                            <p>“The way of water connects all things. The sea is our home before our birth and after we die.” Beyond the 3D visual spectacle that Avatar is, something we trust James Cameron to deliver, the franchise’s beauty lies in its underlying spiritual arc and ode to continuity of life. Life finds a way. It evolves no matter the surroundings as love is transformative.</p>

                            
                        </div>
                    </article>
                </div>

                <div class = "container-bottom-left">
                    <article>
                        <img src = "/images/movienewspageimgs/16.jpg">
                        <div>
                            <h3>Michael B Jordan Planning Creed Universe - Including An Anime Series</h3>
                            <p>After Creed III walloped its way to a $100 million opening weekend last week, it's no surprise that Michael B. Jordan's Rocky spin-off franchise is said to be warming up for a few more rounds. Now, according to Deadline, plans are in place for Jordan to build a bigger 'Creed-verse'</p>

                            
                        </div>
                    </article>

                   
                </div>
                <div class="container-bottom-left">

                    <article>
                        <img src = "/images/movienewspageimgs/17.jpg">
                        <div>
                            <h3>Tom Cruise Reviews The Flash After Demanding to See the DC Film Early</h3>
                            <p>Tom Cruise praised The Flash after demanding to see the upcoming DC film early.Top Gun: Maverick actor Tom Cruise praises The Flash after asking Warner Bros. Discovery CEO David Zaslav for an early screening.</p>

                           
                        </div>
                    </article>
                </div>
            </section>

           
        </main>
     
       

    </body>
</html>